<div class="row mb-2">
  <div class="col-md-auto">
    <div class="btn btn-text btn-block disabled">
      Current Status: <%= field.to_s.humanize %>
    </div>
  </div>
</div>

<div class="row">
  <% field.events.each do |event| %>
    <div class="col-md-2">
      <%= link_to event.name.to_s.humanize, "/admin/#{controller.controller_name}/#{field.id}/#{event.name.to_s}", method: :put, data: { confirm: "#{event.name}?"}, class: 'btn btn-success btn-block' %>
    </div>
  <% end %>
</div>


